/* Estilo General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
}

.left-line {
    background-color: red;
    width: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
}

.button-group {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.btn-custom { 
    background-color: #faaf08; 
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1em; 
    text-transform: uppercase; 
    text-decoration: none; 
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fa812f;
    padding: 10px 0;
    width: calc(100vw - 2cm);
    margin-left: calc(-50vw + 50% + 1cm);
    border-radius: 5px;
    box-sizing: border-box;
}

.section-title {
    font-size: 2em;
    color: black;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
    width: 100%;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    background-color: #fa812f;
    color: black;
    padding: 5px;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    border-radius: 5px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group img {
    margin-left: 10px;
    display: block;
    margin-top: 10px;
    max-width: 200px;
}

.form-group.buttons {
    grid-column: span 2;
    text-align: center;
    margin-top: 20px;
}

.form-group.buttons button {
    margin: 0 5px;
    width: 150px;
}

/* Estilos de la tabla */
.table-responsive {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    max-width: 1000px;
    margin: 20px 0;
}

.table thead {
    background-color: #fa812f;
    color: white;
}

.table thead th {
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background-color: #faaf08;
}

.table tbody tr:hover {
    background-color: #fa812f;
    color: white;
}

.table tbody td {
    text-align: center;
}

.table tbody tr.selected {
    background-color: red;
    color: white;
}


.btn-primary, .btn-warning, .btn-danger, .btn-secondary {
    background-color: #faaf08; /* Color de fondo */
    color: black; /* Color del texto */
    border: none; /* Eliminar borde */
}

.btn-primary:hover, .btn-warning:hover, .btn-danger:hover, .btn-secondary:hover {
    background-color: #e89f03; /* Color de fondo al pasar el ratón (opcional) */
}

